body, html {
    height: 100%;
    margin: 0;
    background-color: white;
  }

.hero-image {
    /* background-image: url("../../assets/landingimage2.jpg"); */
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: white;
  }
  
  .hero-text {
    text-align: center;
    /* width:  100%; */
    position: absolute;
    top: 45%;
    /* left: 50%; */
    transform: translate(-50%, -50%);
    /* color: white; */
  }
  